# Posttest 4
##### NAMA : FRANSISKUS ANDRE
##### NIM  : 2009106065

# Mengimport Libarary

In [121]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

# Read Data

In [122]:
df = pd.read_csv("Breast_Cancer.csv")

# DATA SPLITTING

In [123]:
X = df.iloc[:,:-1] # Target
y = df.iloc[:,-1] # Feature

#### Membagi data dengan perbandingan 70:30

In [124]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

### Menamipilkan Data Hasil Di Split

In [125]:
print("Dimensi data\t:", df.shape)
print()
print("Dimensi X_train\t:", X_train.shape)
print("Dimensi X_test\t:", X_test.shape)
print("Dimensi y_train\t:", y_train.shape)
print("Dimensi y_test\t:", y_test.shape)

Dimensi data	: (4024, 16)

Dimensi X_train	: (2816, 15)
Dimensi X_test	: (1208, 15)
Dimensi y_train	: (2816,)
Dimensi y_test	: (1208,)

# NORMALISASI DATA

#### Mengcopy dataset

In [126]:
df_normalisasi = df.copy()

#### Normalisasi Menggunakan min-max Scaler

###### Membuat Variabel untuk min-mac scaler

In [127]:
minmaxscaler = MinMaxScaler()

In [128]:
df_normalisasi.columns
df

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,62,Other,Married,T1,N1,IIA,Moderately differentiated,2,Regional,9,Positive,Positive,1,1,49,Alive
4020,56,White,Divorced,T2,N2,IIIA,Moderately differentiated,2,Regional,46,Positive,Positive,14,8,69,Alive
4021,68,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Negative,11,3,69,Alive
4022,58,Black,Divorced,T2,N1,IIB,Moderately differentiated,2,Regional,44,Positive,Positive,11,1,72,Alive
4023,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,7,2,100,Alive

##### Normalisasi beberapa kolom

In [129]:
xscaler = minmaxscaler.fit_transform(df_normalisasi[["Regional Node Examined", "Reginol Node Positive", "Survival Months"]])

##menampikan data setelah di normalisasikan
df_normal = pd.DataFrame(xscaler)
df_normal

             0         1         2
0     0.383333  0.000000  0.556604
1     0.216667  0.088889  0.575472
2     0.216667  0.133333  0.698113
3     0.016667  0.000000  0.783019
4     0.033333  0.000000  0.462264
...        ...       ...       ...
4019  0.000000  0.000000  0.452830
4020  0.216667  0.155556  0.641509
4021  0.166667  0.044444  0.641509
4022  0.166667  0.000000  0.669811
4023  0.100000  0.022222  0.933962

[4024 rows x 3 columns]

##### Menampilkan nilai minimal dan maksimal

In [130]:
print("Nilai min:")
print(df_normal.min())
print()
print("Nilai max:")
print(df_normal.max())

Nilai min:
0    0.0
1    0.0
2    0.0
dtype: float64

Nilai max:
0    1.0
1    1.0
2    1.0
dtype: float64

# STANDARISASI DATA

#### Membuat variabel  untuk normalisasi data

In [131]:
std_scaler = StandardScaler()

#### Membuat Copy data

In [132]:
df_standarisasi = df.copy()

#### Standrarisasi data dan menampilkan hasil standarisasi

In [133]:
standarisasi_data = std_scaler.fit_transform(df_standarisasi[["Regional Node Examined", "Reginol Node Positive", "Survival Months"]])
print("Nilai standar deviasi setelah scaling:", np.nanstd(standarisasi_data))

Nilai standar deviasi setelah scaling: 1.0

In [134]:
df_standar = pd.DataFrame(standarisasi_data)
df_standar

             0         1         2
0     1.190676 -0.618172 -0.492961
1    -0.044095  0.164807 -0.405695
2    -0.044095  0.556296  0.161530
3    -1.525820 -0.618172  0.554224
4    -1.402343 -0.618172 -0.929288
...        ...       ...       ...
4019 -1.649297 -0.618172 -0.972921
4020 -0.044095  0.752041 -0.100266
4021 -0.414526 -0.226682 -0.100266
4022 -0.414526 -0.618172  0.030632
4023 -0.908434 -0.422427  1.252348

[4024 rows x 3 columns]

# DATA CLEANING

In [135]:
df.iloc[90:1200,12:15] = np.nan

### Mengapus Nilai NULL

In [136]:
imputer_mean = SimpleImputer(strategy= "mean")
imputer_modus = SimpleImputer(strategy = "most_frequent")
imputer_median  = SimpleImputer(strategy = "median")

In [137]:
df.isna().sum()

Age                          0
Race                         0
Marital Status               0
T Stage                      0
N Stage                      0
6th Stage                    0
differentiate                0
Grade                        0
A Stage                      0
Tumor Size                   0
Estrogen Status              0
Progesterone Status          0
Regional Node Examined    1110
Reginol Node Positive     1110
Survival Months           1110
Status                       0
dtype: int64

In [138]:
df.columns

Index(['Age', 'Race', 'Marital Status', 'T Stage ', 'N Stage', '6th Stage',
       'differentiate', 'Grade', 'A Stage', 'Tumor Size', 'Estrogen Status',
       'Progesterone Status', 'Regional Node Examined',
       'Reginol Node Positive', 'Survival Months', 'Status'],
      dtype='object')

In [139]:
df["Regional Node Examined"] = imputer_mean.fit_transform(df[["Regional Node Examined"]])
df["Reginol Node Positive"] = imputer_modus.fit_transform(df[["Reginol Node Positive"]])
df["Survival Months"] = imputer_median.fit_transform(df[["Survival Months"]])

In [140]:
df.isna().sum()

Age                       0
Race                      0
Marital Status            0
T Stage                   0
N Stage                   0
6th Stage                 0
differentiate             0
Grade                     0
A Stage                   0
Tumor Size                0
Estrogen Status           0
Progesterone Status       0
Regional Node Examined    0
Reginol Node Positive     0
Survival Months           0
Status                    0
dtype: int64

### Menghapus Nilai Duplkat

In [141]:
df.duplicated().sum()

40

In [142]:
df[df.duplicated()]

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
234,63,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,17,Positive,Positive,14.282773,1.0,72.0,Alive
335,48,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,15,Positive,Positive,14.282773,1.0,72.0,Alive
360,55,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,25,Positive,Positive,14.282773,1.0,72.0,Alive
416,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,25,Positive,Positive,14.282773,1.0,72.0,Alive
423,54,White,Married,T1,N1,IIA,Well differentiated,1,Regional,7,Positive,Positive,14.282773,1.0,72.0,Alive
436,63,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,17,Positive,Positive,14.282773,1.0,72.0,Alive
438,61,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,25,Positive,Positive,14.282773,1.0,72.0,Alive
448,52,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,14.282773,1.0,72.0,Alive
456,50,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,20,Positive,Positive,14.282773,1.0,72.0,Alive
494,48,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,15,Positive,Positive,14.282773,1.0,72.0,Alive
524,52,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,18,Positive,Positive,14.282773,1.0,72.0,Alive
577,60,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,11,Positive,Positive,14.282773,1.0,72.0,Alive
599,51,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Positive,14.282773,1.0,72.0,Alive
611,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,25,Positive,Positive,14.282773,1.0,72.0,Alive
668,63,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,25,Positive,Positive,14.282773,1.0,72.0,Alive
669,52,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,14.282773,1.0,72.0,Alive
688,49,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,18,Positive,Positive,14.282773,1.0,72.0,Alive
737,45,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,12,Positive,Positive,14.282773,1.0,72.0,Alive
806,48,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,20,Positive,Positive,14.282773,1.0,72.0,Alive
856,65,White,Married,T1,N2,IIIA,Moderately differentiated,2,Regional,20,Positive,Positive,14.282773,1.0,72.0,Alive
881,61,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,27,Positive,Positive,14.282773,1.0,72.0,Alive
902,52,White,Married,T1,N1,IIA,Well differentiated,1,Regional,10,Positive,Positive,14.282773,1.0,72.0,Alive
933,63,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,25,Positive,Positive,14.282773,1.0,72.0,Alive
979,50,White,Married,T1,N1,IIA,Well differentiated,1,Regional,12,Positive,Positive,14.282773,1.0,72.0,Alive
1021,61,White,Married,T2,N1,IIB,Well differentiated,1,Regional,21,Positive,Positive,14.282773,1.0,72.0,Alive
1034,55,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,20,Positive,Positive,14.282773,1.0,72.0,Alive
1038,67,White,Married,T2,N1,IIB,Well differentiated,1,Regional,21,Positive,Positive,14.282773,1.0,72.0,Alive
1045,65,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,11,Positive,Positive,14.282773,1.0,72.0,Alive
1047,49,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,17,Positive,Positive,14.282773,1.0,72.0,Alive
1057,54,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,15,Positive,Positive,14.282773,1.0,72.0,Alive
1059,65,White,Divorced,T1,N1,IIA,Moderately differentiated,2,Regional,18,Positive,Positive,14.282773,1.0,72.0,Alive
1098,61,White,Married,T1,N1,IIA,Well differentiated,1,Regional,16,Positive,Positive,14.282773,1.0,72.0,Alive
1099,46,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,16,Positive,Positive,14.282773,1.0,72.0,Alive
1101,63,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,25,Positive,Positive,14.282773,1.0,72.0,Alive
1103,60,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,25,Positive,Positive,14.282773,1.0,72.0,Alive
1108,63,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,25,Positive,Positive,14.282773,1.0,72.0,Alive
1111,57,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,14.282773,1.0,72.0,Alive
1153,49,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,16,Positive,Positive,14.282773,1.0,72.0,Alive
1158,50,White,Married,T1,N1,IIA,Moderately differentiated,2,Regional,18,Positive,Positive,14.282773,1.0,72.0,Alive
1177,56,White,Single,T1,N1,IIA,Moderately differentiated,2,Regional,20,Positive,Positive,14.282773,1.0,72.0,Alive

In [143]:
df.drop_duplicates(inplace=True)

In [144]:
df.duplicated().sum()

0

# Mengganti Tipe Data Atribut Angka

In [145]:
df.dtypes

Age                         int64
Race                       object
Marital Status             object
T Stage                    object
N Stage                    object
6th Stage                  object
differentiate              object
Grade                      object
A Stage                    object
Tumor Size                  int64
Estrogen Status            object
Progesterone Status        object
Regional Node Examined    float64
Reginol Node Positive     float64
Survival Months           float64
Status                     object
dtype: object

In [146]:
df["area_mean"] = df["Tumor Size"].astype("object")
df.dtypes

Age                         int64
Race                       object
Marital Status             object
T Stage                    object
N Stage                    object
6th Stage                  object
differentiate              object
Grade                      object
A Stage                    object
Tumor Size                  int64
Estrogen Status            object
Progesterone Status        object
Regional Node Examined    float64
Reginol Node Positive     float64
Survival Months           float64
Status                     object
area_mean                  object
dtype: object

# ONE HOT CODING

### Membuat Variabel Untuk one hot coding

In [147]:
encoder = OneHotEncoder(sparse=False)

In [148]:
area_wordst_enc = encoder.fit_transform(df[["Marital Status"]])
area_wordst_enc = pd.DataFrame(area_wordst_enc)

In [149]:
df["Marital Status"]

0        Married
1        Married
2       Divorced
3        Married
4        Married
          ...
4019     Married
4020    Divorced
4021     Married
4022    Divorced
4023     Married
Name: Marital Status, Length: 3984, dtype: object

In [150]:
df.reset_index(drop=True, inplace=True)

In [151]:
df = df.join(area_wordst_enc,rsuffix = ':')
df

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,...,Regional Node Examined,Reginol Node Positive,Survival Months,Status,area_mean,0,1,2,3,4
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,...,24.0,1.0,60.0,Alive,4,0.0,1.0,0.0,0.0,0.0
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,...,14.0,5.0,62.0,Alive,35,0.0,1.0,0.0,0.0,0.0
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,...,14.0,7.0,75.0,Alive,63,1.0,0.0,0.0,0.0,0.0
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,...,2.0,1.0,84.0,Alive,18,0.0,1.0,0.0,0.0,0.0
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,...,3.0,1.0,50.0,Alive,41,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3979,62,Other,Married,T1,N1,IIA,Moderately differentiated,2,Regional,9,...,1.0,1.0,49.0,Alive,9,0.0,1.0,0.0,0.0,0.0
3980,56,White,Divorced,T2,N2,IIIA,Moderately differentiated,2,Regional,46,...,14.0,8.0,69.0,Alive,46,1.0,0.0,0.0,0.0,0.0
3981,68,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,22,...,11.0,3.0,69.0,Alive,22,0.0,1.0,0.0,0.0,0.0
3982,58,Black,Divorced,T2,N1,IIB,Moderately differentiated,2,Regional,44,...,11.0,1.0,72.0,Alive,44,1.0,0.0,0.0,0.0,0.0
3983,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,...,7.0,2.0,100.0,Alive,30,0.0,1.0,0.0,0.0,0.0

In [152]:
df.to_csv("Breast_Cancer_Clean",index = False)